{% extends 'base/base.html' %}
{% block title %}Tables{% endblock title %}
{% block tables %}

{% for category in category %}
  <li>
    <a href="category/{{category}}" class="dropdown-item">{{category}}</a>
  </li>
{% endfor %}

{% endblock tables %}
{% block notifications %}
  {% if history != 0 %}
    {% for message in historys %}
    <a href="{% url 'history' %}" class="dropdown-item">
      <h6 class="fw-normal mb-0">{{message.message}}</h6>
      <small>{{message.date}}</small>
    </a>
    <hr class="dropdown-divider">
    {% endfor %}
  {% else %}
    <p class="text-center">Notifications Empty</p>
  {% endif %}
{% endblock notifications %}
{% block body %}
<div class="container-fluid pt-4 px-4">
    <div class="row mt-5">
        <div class="col-12">
          <div class="card add_email_table overflow-auto">
            <div class="card-body">
              <h5 class="card-title">All List <span>| email </span></h5>
              <table class="table table-borderless datatable">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Email</th>
                    <th scope="col">Category</th>
                    <th style="text-align: center;" scope="col">Author</th>
                    <th style="text-align: center;" scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for emaillist in email %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{emaillist.email}}</td>
                    <td>{{emaillist.category}}</td>
                    <td>SHISHIR</td>
                    <td style="text-align: center;">
                      <a href="update-email/{{emaillist.id}}" class="btn mb_ mb-xl-0 btn-sm btn-light">Edit</a>
                      <a href="/delete/{{emaillist.id}}" class="btn btn-sm btn-danger ">Delete</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock body %}